<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
<vendor>manjaro-bootsplash-manager</vendor>
   <action id="org.manjaro.bootsplash-manager.change-theme" >
      <icon_name>bootsplash-manager-gui</icon_name>
      <description>Change or remove bootsplash theme</description>
      <message>Change or remove bootsplash theme</message>
      <defaults>
         <allow_inactive>no</allow_inactive>
         <allow_active>auth_admin_keep</allow_active>
      </defaults>
      <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/bootsplash-manager</annotate>
   </action>
</policyconfig>
